@{ViewBag.Title = "Index";}
 

<div class="container-fluid">
<div class="row">
    <div id="mainGraph" class="col-md-6">
      <br />
      <br />
        <p class="lead">My First Dashboard <abbr title="key performance indicators">KPIs</abbr></p>
    </div>
    <div class="col-md-6">
      <br />
      <br />
      <p class="lead">PLACEHOLDER</p>
    </div>
</div>
<div class="row">
    <div id="mapInfo" class="col-md-6">
      <br />
      <br />
      <p class="lead">PLACEHOLDER</p>
    </div>
   <div class="col-md-6">
      <br />
      <br />
      <p class="lead">PLACEHOLDER</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <p>A dashboard in progress.</p>
        </div>
    <div class="col-md-2">
        @Html.ActionLink("Refresh",null,null, new {@class = "btn btn-primary btn-large" })
    </div>
</div>
</div> 